<script src="/js/bootstrap-tagsinput.js"></script>
<link rel="stylesheet" href="/css/bootstrap-tagsinput.css">


<div class="row">
    {{> mail-menu}}
    <!-- /.col -->
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Enviados</h3>

                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <input type="text" class="form-control input-sm" placeholder="Buscar mensaje">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i
                                    class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i
                                    class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                            {{#each enviados}}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td class="mailbox-name"><label>Para:&nbsp;</label><a href="read-mail.html">{{this.NameTo}}</a></td>
                                <td class="mailbox-subject"><b>{{this.Subject}}</b> {{this.Body}}
                                </td>
                                <td class="mailbox-date">{{timeAgo this.SendDate}}</td>
                            </tr>
                            {{/each}}



                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i
                                    class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i
                                    class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
            </div>
        </div>
        <!-- /. box -->
    </div>
    <!-- /.col -->
</div>
<script>
    let listaUsuarios = []
    let listaUsuariosSeleccionados = []
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            if (value === null || value.trim().length == 0) {
                $('#tablaUsuarios').empty()
                return
            }

            $.ajax({
                type: "POST",
                url: "/dashboard/mail/findUsersLikeName",
                data: { name: value },
                success: (res) => {
                    listaUsuarios = res
                    $('#tablaUsuarios').empty()

                    $(res).each(function (index, item) {
                        $('#tablaUsuarios').append(
                            `<tr><td><label><input type="checkbox" id="${item.Id}" onclick="checkedChanged(this);"></label>` +
                            '</td><td>' + item.Id +
                            '</td><td>' + item.Username +
                            '</td><td>' + item.Name +
                            '</td></tr>'
                        )

                    });
                },
                dataType: 'json'
            })
        });
    });

    function checkedChanged(ele) {
        if (!ele.checked) return
        let found = listaUsuarios.filter(x => x.Id == ele.id)
        for (let f of found) {
            if (listaUsuariosSeleccionados.filter(x => x.Id == f.Id).length == 0) {
                listaUsuariosSeleccionados.push(f)
            }
        }

        $('#destinatarios').tagsinput('removeAll')

        if (listaUsuariosSeleccionados.length == 0) {
            return
        }

        let destinatarios = []
        for (let f of listaUsuariosSeleccionados) {
            destinatarios.push(f.Username)
        }
        destinatarios.forEach(x => {
            $('#destinatarios').tagsinput('add', x)
        })
    }

    function submit() {
        var items = $('#destinatarios').tagsinput('items')
        if (items.length == 0) {
            alert('Selecciona algún destinatario')
            return
        }

        $.ajax({
            type: "POST",
            url: "/dashboard/mail/findNotExistingUsers",
            data: { 'users': JSON.stringify(items) },
            success: (res) => {
                if (res.length == 0) {
                    $.ajax({
                        type: "POST",
                        url: "/dashboard/mail/sendMail",
                        data: {
                            'users': JSON.stringify(items),
                            'subject': $('#subject').val(),
                            'body': $('#body').val(),
                        },
                        success: (res) => {
                            if (res) {
                                $('#myModal').modal('hide');
                                location.reload()
                            }
                        },
                        dataType: 'json'
                    })
                }
                else {
                    let not_exist = ""
                    for (let item of res) {
                        not_exist += item.Username + "\n"
                    }
                    alert("Los siguientes usuarios no existen\n" + not_exist)
                }
            },
            dataType: 'json'
        })
    }
</script>


<style>
    .btn-compose {
        background: none repeat scroll 0 0 #ff6c60;
        color: #fff;
        padding: 12px 0;
        text-align: center;
        width: 100%;
    }

    .btn-compose:hover {
        background: none repeat scroll 0 0 #f5675c;
        color: #fff;
    }

    .btn-send,
    .btn-send:hover {
        background: none repeat scroll 0 0 #00a8b3;
        color: #fff;
    }

    .btn-send:hover {
        background: none repeat scroll 0 0 #009da7;
    }

    .bootstrap-tagsinput {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        display: block;
        padding: 4px 6px;
        color: #555;
        vertical-align: middle;
        max-width: 100%;
        line-height: 22px;
        cursor: text;
    }

    .bootstrap-tagsinput input {
        border: none;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        padding: 0 6px;
        margin: 0;
        width: auto;
        max-width: inherit;
    }
</style>