<footer class="main-footer">
    <nav class="navbar navbar-light bg-light border-bottom">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.1b
    </div>
    <strong> Copyright © 2019-2025 <a href="#">Arneplant S.L.</a></strong>

    </nav>

</footer>