{{#if user}}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        {{#if user.IsMale}}
        <img src="/img/avatar5.png" class="img-circle" alt="User Image">
        {{else}}
        <img src="/img/avatar3.png" class="img-circle" alt="User Image">
        {{/if }} </div>
      <div class="pull-left info">
        <p>{{user.Name}} {{user.Surname}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENÚ PRINCIPAL</li>

      <li>
        <a href="/dashboard/info_personal">
          <i class="fa fa-user-circle-o"></i> <span>Mis datos</span>
          <span class="pull-right-container">
          </span>
        </a>
      </li>

      <li>
        <a href="/dashboard/nominas">
          <i class="fa fa-files-o"></i> <span>Mis nóminas</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-green">4</small>
          </span>
        </a>
      </li>

      <li>
        <a href="/dashboard/calendario">
          <i class="fa fa-calendar"></i> <span>Mi calendario</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-red">3</small>
            <small class="label pull-right bg-blue">17</small>
          </span>
        </a>
      </li>
      <li>
        <a href="/dashboard/mail">
          <i class="fa fa-envelope"></i> <span>Mensajes</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-yellow">12</small>
            <small class="label pull-right bg-green">16</small>
            <small class="label pull-right bg-red">5</small>
          </span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-folder"></i> <span>Documentación</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> Contrato</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Diplomas</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Partes de baja</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Informes médicos</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Informes de aptitud</a></li>

        </ul>
      </li>

      <li><a href="#"><i class="fa fa-book"></i> <span>Ayuda</span></a></li>

      {{#if user.IsRRHH}}
      <li class="header">RECURSOS HUMANOS</li>
      <li>
        <a href="/rrhh/gestionar_empleados">
          <i class="fa fa-users" aria-hidden="true"></i> <span>Gestión empleados</span>
          <span class="pull-right-container">
          </span>
        </a>
      </li>
      <li>
        <a href="/rrhh/tablon_sugerencias">
          <i class="fa fa-inbox" aria-hidden="true"></i> <span>Buzón sugerencias</span>
          <span class="pull-right-container">
          </span>
        </a>
      </li>
      <li>
        <a href="/rrhh/solicitudes_cambio_info">
          <i class="fa fa-address-card" aria-hidden="true"></i> <span>Solicitudes rectificación</span>
          <span class="pull-right-container">
          </span>
        </a>
      </li>
      {{/if}}

      <li class="header">LEYENDA</li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Importante</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Aviso</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Informativo</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
{{/if}}