<nav class="navbar  navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="navbar-toggler bg-light" id="menu-toggle">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h2>Título de la página</h2>
    </nav>