<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Descargar</th>
        </tr>
    </thead>
    <tbody>
        {{#each nominas}}
        <tr>
            <td>{{timeAgo this.date_upload}}</td>
            <td>
                <button style="min-width: 100px;" onclick="descargar('{{this.path}}')" class="btn btn-success"><i class="fas fa-cloud-download-alt"></i></button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    function descargar(path){
        window.location.href="/dashboard/nominas/ver?ruta="+path
    }
</script>
